In [2]:
#시계열 자료 다루기 : 인덱스가 날짜 혹은 시간인 데이터
#인덱스를 DatetimeIndex 자료형으로 만들어야
#보조 함수 : pd.to_datetime, pd.date_range
date_str = ["2018, 1, 1", "2018, 1, 4", "2018, 1, 5", "2018, 1, 6"]
idx = pd.to_datetime(date_str)
idx
#pd.to_datetime : 날짜/시간 나타내는 문자열을 자동으로 
#datetime자료형으로 바꾼 후 DatetimeIndex 자료형 인덱스 생성

DatetimeIndex(['2018-01-01', '2018-01-04', '2018-01-05', '2018-01-06'], dtype='datetime64[ns]', freq=None)

In [8]:
np.random.seed(0)
s = pd.Series(np.random.randn(4),idx)
s

2018-01-01    1.764052
2018-01-04    0.400157
2018-01-05    0.978738
2018-01-06    2.240893
dtype: float64

In [9]:
pd.date_range("2018-4-1","2018-4-30")

DatetimeIndex(['2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04',
               '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08',
               '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12',
               '2018-04-13', '2018-04-14', '2018-04-15', '2018-04-16',
               '2018-04-17', '2018-04-18', '2018-04-19', '2018-04-20',
               '2018-04-21', '2018-04-22', '2018-04-23', '2018-04-24',
               '2018-04-25', '2018-04-26', '2018-04-27', '2018-04-28',
               '2018-04-29', '2018-04-30'],
              dtype='datetime64[ns]', freq='D')

In [10]:
pd.date_range(start = "2018 - 4 - 1", periods = 10)

DatetimeIndex(['2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04',
               '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08',
               '2018-04-09', '2018-04-10'],
              dtype='datetime64[ns]', freq='D')

In [11]:
pd.date_range("2018-4-1","2018-4-30",freq = "B")

DatetimeIndex(['2018-04-02', '2018-04-03', '2018-04-04', '2018-04-05',
               '2018-04-06', '2018-04-09', '2018-04-10', '2018-04-11',
               '2018-04-12', '2018-04-13', '2018-04-16', '2018-04-17',
               '2018-04-18', '2018-04-19', '2018-04-20', '2018-04-23',
               '2018-04-24', '2018-04-25', '2018-04-26', '2018-04-27',
               '2018-04-30'],
              dtype='datetime64[ns]', freq='B')

In [13]:
pd.date_range("2018-4-1","2018-4-30",freq = "W-MON")

DatetimeIndex(['2018-04-02', '2018-04-09', '2018-04-16', '2018-04-23',
               '2018-04-30'],
              dtype='datetime64[ns]', freq='W-MON')

In [15]:
#shift 연산 : 날짜 이동 등의 다양한 연산 가능
np.random.seed(0)
ts = pd.Series(np.random.randn(4), index = pd.date_range(
"2018 - 1 - 1", periods = 4, freq = "M"))
ts

2018-01-31    1.764052
2018-02-28    0.400157
2018-03-31    0.978738
2018-04-30    2.240893
Freq: M, dtype: float64

In [16]:
ts.shift(1) #shift 연산은 인덱스 그대로 데이터만 이동

2018-01-31         NaN
2018-02-28    1.764052
2018-03-31    0.400157
2018-04-30    0.978738
Freq: M, dtype: float64

In [17]:
ts.shift(-1)

2018-01-31    0.400157
2018-02-28    0.978738
2018-03-31    2.240893
2018-04-30         NaN
Freq: M, dtype: float64

In [18]:
ts.shift(1, freq = "M") #shift(freq) 연산은 데이터 그대로 인덱스만 이동

2018-02-28    1.764052
2018-03-31    0.400157
2018-04-30    0.978738
2018-05-31    2.240893
Freq: M, dtype: float64

In [19]:
ts.shift(1, freq="W")

2018-02-04    1.764052
2018-03-04    0.400157
2018-04-01    0.978738
2018-05-06    2.240893
Freq: WOM-1SUN, dtype: float64

In [23]:
#resample 연산 : 시간 간격 재조정하는 리샘플링 가능
#upsampling, downsampling
ts = pd.Series(np.random.randn(100), index = pd.date_range(
"2018 - 1 - 1", periods = 100, freq = "D"))
ts.tail(20)

2018-03-22    0.038631
2018-03-23   -1.656715
2018-03-24   -0.985511
2018-03-25   -1.471835
2018-03-26    1.648135
2018-03-27    0.164228
2018-03-28    0.567290
2018-03-29   -0.222675
2018-03-30   -0.353432
2018-03-31   -1.616474
2018-04-01   -0.291837
2018-04-02   -0.761492
2018-04-03    0.857924
2018-04-04    1.141102
2018-04-05    1.466579
2018-04-06    0.852552
2018-04-07   -0.598654
2018-04-08   -1.115897
2018-04-09    0.766663
2018-04-10    0.356293
Freq: D, dtype: float64

In [24]:
ts.resample('W').mean() #'주'로 묶고 그룹 연산은 평균mean으로

2018-01-07   -0.296402
2018-01-14   -0.199907
2018-01-21   -0.496469
2018-01-28    0.226224
2018-02-04   -0.636064
2018-02-11   -0.049788
2018-02-18   -0.016745
2018-02-25   -0.577610
2018-03-04    0.275519
2018-03-11   -0.273015
2018-03-18   -0.201258
2018-03-25   -0.995174
2018-04-01   -0.014966
2018-04-08    0.263159
2018-04-15    0.561478
Freq: W-SUN, dtype: float64

In [25]:
ts.resample('M').first() #'달'로 묶고 그룹연산은 first

2018-01-31    0.666383
2018-02-28    0.606320
2018-03-31    0.339965
2018-04-30   -0.291837
Freq: M, dtype: float64

In [29]:
#시/분 단위는 가장 빠른값은 포함, 가장 늦은 값은 포함 X
ts = pd.Series(np.random.randn(60), index = pd.date_range(
"2018 - 1 - 1", periods = 60, freq = "T"))
ts

2018-01-01 00:00:00   -0.554310
2018-01-01 00:01:00   -0.470638
2018-01-01 00:02:00   -0.216950
2018-01-01 00:03:00    0.445393
2018-01-01 00:04:00   -0.392389
2018-01-01 00:05:00   -3.046143
2018-01-01 00:06:00    0.543312
2018-01-01 00:07:00    0.439043
2018-01-01 00:08:00   -0.219541
2018-01-01 00:09:00   -1.084037
2018-01-01 00:10:00    0.351780
2018-01-01 00:11:00    0.379236
2018-01-01 00:12:00   -0.470033
2018-01-01 00:13:00   -0.216731
2018-01-01 00:14:00   -0.930157
2018-01-01 00:15:00   -0.178589
2018-01-01 00:16:00   -1.550429
2018-01-01 00:17:00    0.417319
2018-01-01 00:18:00   -0.944368
2018-01-01 00:19:00    0.238103
2018-01-01 00:20:00   -1.405963
2018-01-01 00:21:00   -0.590058
2018-01-01 00:22:00   -0.110489
2018-01-01 00:23:00   -1.660700
2018-01-01 00:24:00    0.115148
2018-01-01 00:25:00   -0.379148
2018-01-01 00:26:00   -1.742356
2018-01-01 00:27:00   -1.303243
2018-01-01 00:28:00    0.605120
2018-01-01 00:29:00    0.895556
2018-01-01 00:30:00   -0.131909
2018-01-01 00:31:00    0.404762
2018-01-01 00:32:00    0.223844
2018-01-01 00:33:00    0.329623
2018-01-01 00:34:00    1.285984
2018-01-01 00:35:00   -1.506998
2018-01-01 00:36:00    0.676461
2018-01-01 00:37:00   -0.382009
2018-01-01 00:38:00   -0.224259
2018-01-01 00:39:00   -0.302250
2018-01-01 00:40:00   -0.375147
2018-01-01 00:41:00   -1.226196
2018-01-01 00:42:00    0.183339
2018-01-01 00:43:00    1.670943
2018-01-01 00:44:00   -0.056133
2018-01-01 00:45:00   -0.001385
2018-01-01 00:46:00   -0.687299
2018-01-01 00:47:00   -0.117475
2018-01-01 00:48:00    0.466166
2018-01-01 00:49:00   -0.370242
2018-01-01 00:50:00   -0.453804
2018-01-01 00:51:00    0.403265
2018-01-01 00:52:00   -0.918005
2018-01-01 00:53:00    0.252497
2018-01-01 00:54:00    0.820322
2018-01-01 00:55:00    1.359949
2018-01-01 00:56:00   -0.090382
2018-01-01 00:57:00    1.367597
2018-01-01 00:58:00    1.034410
2018-01-01 00:59:00   -0.996213
Freq: T, dtype: float64

In [30]:
ts.resample('10T').sum()

2018-01-01 00:00:00   -4.556258
2018-01-01 00:10:00   -2.903870
2018-01-01 00:20:00   -5.576132
2018-01-01 00:30:00    0.373248
2018-01-01 00:40:00   -0.513429
2018-01-01 00:50:00    2.779635
Freq: 10T, dtype: float64

In [33]:
#왼쪽이 아니라 오른쪽의 한계값을 포함하려면 closed="right"인수
ts.resample('10T', closed = "right").sum()

2017-12-31 23:50:00   -0.554310
2018-01-01 00:00:00   -3.650169
2018-01-01 00:10:00   -4.661613
2018-01-01 00:20:00   -4.302078
2018-01-01 00:30:00    0.130010
2018-01-01 00:40:00   -0.592086
2018-01-01 00:50:00    3.233439
Freq: 10T, dtype: float64

In [34]:
#ohlc : 구간의 open, high, low, close 값을 구함
ts.resample('5T').ohlc()

                         open      high       low     close
2018-01-01 00:00:00 -0.554310  0.445393 -0.554310 -0.392389
2018-01-01 00:05:00 -3.046143  0.543312 -3.046143 -1.084037
2018-01-01 00:10:00  0.351780  0.379236 -0.930157 -0.930157
2018-01-01 00:15:00 -0.178589  0.417319 -1.550429  0.238103
2018-01-01 00:20:00 -1.405963  0.115148 -1.660700  0.115148
2018-01-01 00:25:00 -0.379148  0.895556 -1.742356  0.895556
2018-01-01 00:30:00 -0.131909  1.285984 -0.131909  1.285984
2018-01-01 00:35:00 -1.506998  0.676461 -1.506998 -0.302250
2018-01-01 00:40:00 -0.375147  1.670943 -1.226196 -0.056133
2018-01-01 00:45:00 -0.001385  0.466166 -0.687299 -0.370242
2018-01-01 00:50:00 -0.453804  0.820322 -0.918005  0.820322
2018-01-01 00:55:00  1.359949  1.367597 -0.996213 -0.996213

In [35]:
#In case of up-sampling, you should make data that does not actually exits
#foward filling, backward filling 방식
ts.resample('30s').ffill().head(20)

2018-01-01 00:00:00   -0.554310
2018-01-01 00:00:30   -0.554310
2018-01-01 00:01:00   -0.470638
2018-01-01 00:01:30   -0.470638
2018-01-01 00:02:00   -0.216950
2018-01-01 00:02:30   -0.216950
2018-01-01 00:03:00    0.445393
2018-01-01 00:03:30    0.445393
2018-01-01 00:04:00   -0.392389
2018-01-01 00:04:30   -0.392389
2018-01-01 00:05:00   -3.046143
2018-01-01 00:05:30   -3.046143
2018-01-01 00:06:00    0.543312
2018-01-01 00:06:30    0.543312
2018-01-01 00:07:00    0.439043
2018-01-01 00:07:30    0.439043
2018-01-01 00:08:00   -0.219541
2018-01-01 00:08:30   -0.219541
2018-01-01 00:09:00   -1.084037
2018-01-01 00:09:30   -1.084037
Freq: 30S, dtype: float64

In [36]:
ts.resample('30s').bfill().head(20)

2018-01-01 00:00:00   -0.554310
2018-01-01 00:00:30   -0.470638
2018-01-01 00:01:00   -0.470638
2018-01-01 00:01:30   -0.216950
2018-01-01 00:02:00   -0.216950
2018-01-01 00:02:30    0.445393
2018-01-01 00:03:00    0.445393
2018-01-01 00:03:30   -0.392389
2018-01-01 00:04:00   -0.392389
2018-01-01 00:04:30   -3.046143
2018-01-01 00:05:00   -3.046143
2018-01-01 00:05:30    0.543312
2018-01-01 00:06:00    0.543312
2018-01-01 00:06:30    0.439043
2018-01-01 00:07:00    0.439043
2018-01-01 00:07:30   -0.219541
2018-01-01 00:08:00   -0.219541
2018-01-01 00:08:30   -1.084037
2018-01-01 00:09:00   -1.084037
2018-01-01 00:09:30    0.351780
Freq: 30S, dtype: float64